@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

* {
  background: #bee3db;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #262626;
  background: #bee3db;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  margin: 10px;
  border-radius: 0%;
}

.container {
  max-width: 50%
}

